meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Fundamentos y lineamientos de la Economía circular
meta(meta name="description" content="A continuación, se presenta el desarrollo del componente formativo 1, denominado “Fundamentos y lineamientos de la Economía Circular”, en el cual se desarrollarán dos unidades temáticas. La primera, hace referencia a la conceptualización de la economía circular y su relación con los ecosistemas y la segunda unidad temática se centra en el sistema productivo, describiendo la transición de lo lineal a lo circular.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")