h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Conceptualización de la economía circular y su relación con los ecosistemas.', 'main.html#page/Conceptualizacion_economia_circular_y_relacion_con_los_ecosistemas/')
                    +navTemaItem('2', 'Sistemas productivos de lo lineal a lo circular.', 'main.html#page/Sistemas_productivos_lineal_circular/')