h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 220601026-1 - Interpretar los fundamentos teóricos de la economía circular de acuerdo con lineamientos técnicos y normativos.