.container
    .header-ecored
        h1.subtitulo2 2. Sistemas productivos de lo lineal a lo circular
    .jumbotron.bg-white
        p En esta unidad se abordará el concepto de ciclo de vida y su relación con la economía circular, teniendo en cuenta las diferentes fases del proceso productivo y los nodos logísticos. Lo que permitirá comprender la transición de los sistemas productivos de lo lineal a lo circular. 
        .sub-ecored#21
            h2.subtitulo2.mt-5 2.1 Sistema productivo
        p.mt-3 Un sistema productivo es aquel en el que se definen procedimientos, maquinaria y equipo, materiales y otros recursos como personal, bajo un sistema de gestión de administración de los recursos, para la transformación de una materia prima o información en un producto o servicio.
        .jumbotron.bg-color-amarillo-grade    
            h1.text-center Elementos de un sistema productivo    
            img.img-a.my-5(src="assets/images/pages/ilustraciones/img17.svg", alt="").img-fluid
        h2.mt-5 Tipos de Sistemas de Producción
        p.mt-3 Existen cuatro tipos de sistemas de producción:
            .list
                .list__item
                    .list__item__number
                        span 1
                .list__txt 
                    span #[strong.subtitulo2 Producción por trabajo:] 
                        | sistemas bajo pedido en donde se elabora un producto de acuerdo con necesidades específicas.    
                        p.mt-3 #[strong Ejemplo:] empresas de carpintería.
            .list
                .list__item
                    .list__item__number
                        span 2
                .list__txt 
                    span #[strong.subtitulo2 Producción de flujo continuo:] 
                        | sistemas de producción en masa o producción en escala cuyo objetivo es producir muchas unidades de un producto o servicio.
                        p.mt-3 #[strong Ejemplo:] producción de alimentos o piezas de vehículos.                    
            .list
                .list__item
                    .list__item__number
                        span 3
                .list__txt 
                    span #[strong.subtitulo2 Producción en masa:] 
                        | producción en gran volumen pero que no es en forma continua, corresponde a procesos de ensamblaje o de unificación de elementos que dan resultado a un producto terminado.
                        p.mt-3 #[strong Ejemplo:] producción de bebidas gaseosas (se producen grandes lotes de bebidas de un mismo sabor, luego se cambia a otra bebida u otro sabor)                  
            .list
                .list__item
                    .list__item__number
                        span 4
                .list__txt 
                    span #[strong.subtitulo2 Producción por lotes:] 
                        | producción en lotes limitada con poco uso de tecnología y mayor participación de personal.
                        p.mt-3 #[strong Ejemplo:] panadería.  
            p.mt-3.text-center Fuente: Adaptado de la Universidad de Estudios Avanzados (2019).                  
        .sub-ecored#22
            h2.subtitulo2.mt-5 2.2 Análisis de ciclo de vida del producto y de los materiales
        h3.subtitulo1.mt-5 Ciclo de vida tradicional
        p.mt-3 En un producto o servicio el ciclo de vida desde un punto de vista tradicional tiene en cuenta las siguientes fases:
        .row.justify-content-center.align-items-stretch.mt-3
            .col-11        
                .card-media.bg-color-gris-radial
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img18.svg").img-fluid
                        p.card__copy #[strong Introducción: ]es el momento del nacimiento del producto y su posterior introducción al mercado. Esta fase contempla los procesos de manufactura y/o de transformación de las materias primas en bienes o servicios y su logística de comercialización. Contempla los tiempos que va a durar en producción y los tiempos logísticos de despacho.
                .card-media.bg-color-gris-radial
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img19.svg").img-fluid
                        p.card__copy #[strong Comercialización: ]es el momento en que el bien o el servicio es divulgado de forma efectiva al cliente, para que éste, de acuerdo a sus necesidades lo adquiera para su propio provecho. Contempla los tiempos en que el bien va a durar en las estanterías antes de ser adquirido por el usuario final.
                .card-media.bg-color-gris-radial
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img20.svg").img-fluid
                        p.card__copy #[strong Uso:] se refiere al uso del bien o servicio por parte del cliente o usuario, todo esto, de acuerdo al valor implícito o explícito por el que fue adquirido. Contempla el tiempo en que va a durar en manos del usuario y que tan rápido el cliente va a requerir comprar un nuevo elemento.
                .card-media.bg-color-gris-radial
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img21.svg").img-fluid
                        p.card__copy #[strong Declive:] esta etapa contempla la pérdida de valor de un bien o servicio por parte del usuario. En otras palabras, es cuando el cliente ya tomó todos los beneficios y los agotó o bien ya no los requiere más y por lo tanto lo desecha.
        
        p.mt-5 Como se puede observar en las fases anteriores, cada una de ellas contempla los tiempos en los que el bien o el servicio va a durar activo en el mercado, sin embargo, estas etapas por sí solas no tienen en cuenta elementos importantes como:
        .row.justify-content-center.align-items-stretch.mt-3
            .col-7 
                .list
                    .list__item
                        .list__item__number
                            img(src="assets/images/pages/ilustraciones/flecha.svg", alt="").img-icon 
                    .list__txt 
                        span  Los impactos generados desde el punto de vista social y ambiental.

                .list
                    .list__item
                        .list__item__number
                            img(src="assets/images/pages/ilustraciones/flecha.svg", alt="").img-icon 
                    .list__txt 
                        span La disponibilidad futura de materias primas.
                .list
                    .list__item
                        .list__item__number
                            img(src="assets/images/pages/ilustraciones/flecha.svg", alt="").img-icon 
                    .list__txt 
                        span Los consumos de energía a lo largo de la cadena de valor.
                .list
                    .list__item
                        .list__item__number
                            img(src="assets/images/pages/ilustraciones/flecha.svg", alt="").img-icon 
                    .list__txt 
                        span La responsabilidad social en la cadena de valor.
                .list
                    .list__item
                        .list__item__number
                            img(src="assets/images/pages/ilustraciones/flecha.svg", alt="").img-icon 
                    .list__txt 
                        span Los residuos generados a lo largo del proceso.
                .list
                    .list__item
                        .list__item__number
                            img(src="assets/images/pages/ilustraciones/flecha.svg", alt="").img-icon 
                    .list__txt 
                        span Los tiempos de recuperación de los ecosistemas.
        h3.subtitulo1.mt-5  Análisis de ciclo de vida
        .row.justify-content-center.align-items-stretch.mt-3
            .col-6            
                p El Análisis de ciclo de vida se traduce en una metodología para evaluar cualitativa o cuantitativamente los impactos ambientales que generan los productos o servicios generados por las actividades económicas y comprende:                                                                                
                .list.ml-5
                    .list__item
                        .list__item__number
                            img(src="assets/images/pages/ilustraciones/flecha.svg", alt="").img-icon 
                    .list__txt 
                        span Extracción de materias primas.
                .list.ml-5
                    .list__item
                        .list__item__number
                            img(src="assets/images/pages/ilustraciones/flecha.svg", alt="").img-icon 
                    .list__txt 
                        span El transporte.
                .list.ml-5
                    .list__item
                        .list__item__number
                            img(src="assets/images/pages/ilustraciones/flecha.svg", alt="").img-icon 
                    .list__txt 
                        span Su transformación.
                .list.ml-5
                    .list__item
                        .list__item__number
                            img(src="assets/images/pages/ilustraciones/flecha.svg", alt="").img-icon 
                    .list__txt 
                        span Su comercialización
                .list.ml-5
                    .list__item
                        .list__item__number
                            img(src="assets/images/pages/ilustraciones/flecha.svg", alt="").img-icon 
                    .list__txt 
                        span Su uso.
                .list.ml-5
                    .list__item
                        .list__item__number
                            img(src="assets/images/pages/ilustraciones/flecha.svg", alt="").img-icon 
                    .list__txt 
                        span Su disposición final.            
            .col-6
                img.img-a.my-5(src="assets/images/pages/ilustraciones/img22.svg", alt="").img-fluid
        h3.subtitulo1  Importancia del análisis del Ciclo de Vida
        .jumbotron.bg-color-amarillo-grade.mt-3
            h2.text-center ¿Qué significa un enfoque de ciclo de vida? 
            p.mt-5     
            .row.justify-content-center.align-items-center
                .col-3
                    img.img-a(src="assets/images/pages/ilustraciones/img24.svg", alt="").img-fluid
                .col-9    
                    h3 Tomar conciencia de nuestros consumos y su relación con otros sistemas
                    p Si al comprar papel supieras que se requieren más de 24 árboles para fabricar 50.000 hojas de papel para impresión y 2.3 metros cúbicos de espacio en un relleno sanitario para desecharlo (Fr. Scribd., 2020), tal vez fomentaría el uso eficiente de este recurso o se apoyaría a productores con procesos de siembra y explotación sostenibles.
                    h3.mt-5 Pensar en el largo plazo considerando todas las variables económicas, sociales y ambientales.
                    p Pensar en el ciclo de vida ayuda a no elegir opciones a corto plazo. Por ejemplo, al hacer quema abierta de residuos, se generan emisiones que contaminan el aire y deterioran la calidad de vida; por lo tanto, técnicas como el reciclaje contribuyen a la gestión de residuos.
                    h3.mt-5 Pensar en sistemas generales y no en pequeñas partes del sistema.
                    p Pensar en disminuir la contaminación del agua y no contemplar reducir la contaminación del aire, no aporta significativamente a la conservación de los recursos naturales. Pensar en un todo, permite entender o visualizar todos los elementos afectados en el ambiente, identificando la rentabilidad económica y la viabilidad social y ambiental. 
        h3.subtitulo1 El concepto de ciclo de vida en las decisiones cotidianas
        p Como consumidores podemos buscar información sobre el ciclo de vida de los productos y servicios que consumimos. Esto puede implicar hacerse preguntas como:
            .list.ml-5
                .list__item
                    .list__item__number
                        img(src="assets/images/pages/ilustraciones/flecha.svg", alt="").img-icon 
                .list__txt 
                    span ¿Qué consumo de energía tiene?
            .list.ml-5
                .list__item
                    .list__item__number
                        img(src="assets/images/pages/ilustraciones/flecha.svg", alt="").img-icon 
                .list__txt 
                    span ¿De qué materiales está hecho?
            .list.ml-5
                .list__item
                    .list__item__number
                        img(src="assets/images/pages/ilustraciones/flecha.svg", alt="").img-icon 
                .list__txt 
                    span ¿Está diseñado para durar?
            .list.ml-5
                .list__item
                    .list__item__number
                        img(src="assets/images/pages/ilustraciones/flecha.svg", alt="").img-icon 
                .list__txt 
                    span ¿Cuánta agua consume su proceso de elaboración?
            .list.ml-5
                .list__item
                    .list__item__number
                        img(src="assets/images/pages/ilustraciones/flecha.svg", alt="").img-icon 
                .list__txt 
                    span ¿Genera emisiones tóxicas?
            .list.ml-5
                .list__item
                    .list__item__number
                        img(src="assets/images/pages/ilustraciones/flecha.svg", alt="").img-icon 
                .list__txt 
                    span ¿En qué lugar se fabricó?
            .list.ml-5
                .list__item
                    .list__item__number
                        img(src="assets/images/pages/ilustraciones/flecha.svg", alt="").img-icon 
                .list__txt 
                    span ¿Quién lo fabricó?
            .list.ml-5
                .list__item
                    .list__item__number
                        img(src="assets/images/pages/ilustraciones/flecha.svg", alt="").img-icon 
                .list__txt 
                    span ¿Su producción apoya a familias vulnerables?
            .list.ml-5
                .list__item
                    .list__item__number
                        img(src="assets/images/pages/ilustraciones/flecha.svg", alt="").img-icon 
                .list__txt 
                    span ¿Se puede disponer de manera segura una vez ya no lo necesite?
            p.mt-3 Dichas preguntas, permitirán mejorar las decisiones de consumo y generar presión en los fabricantes sobre sus implicaciones económicas, sociales y ambientales.
        h3.subtitulo1.mt-5 Herramientas de información con enfoque de ciclo de vida
        p Actualmente, existen muchas formas de analizar el ciclo de vida de los productos o servicios, entre ellas encontramos:
        .jumbotron.bg-color-amarillo-grade
            a(href="media/infografias/infografia_Enfoque_de_Ciclo_de_Vida.pdf", target="_blank")
                img.img-a(src="assets/images/pages/ilustraciones/img25.svg", alt="").img-fluid
        .row.justify-content-center.align-items-center.mt-5
            .col-10
                .jumbotron.caja1  
                    .row.justify-content-center.align-items-center   
                        .col-2
                            h1.subtitulo1 Sitio
                            h1.subtitulo1 Web  
                        .col-8
                            p.subtitulo2 Enfoque se ciclo de vida Subsector transporte.
                            p Para ver ejemplos aplicables, puede consultar el siguiente material: 
                            a(href="http://www.andi.com.co/Uploads/Manual-Transporte-Limpio-Vol-2.pdf", target="_blank")
                                h4 http://www.andi.com.co/Uploads/Manual-Transporte-Limpio-Vol-2.pdf
                        .col-2  
                            img(src="assets/images/pages/ilustraciones/www.svg", alt="").img-icon 
        .sub-ecored#23
            h2.subtitulo1.mt-5 2.3 Etapas en el ciclo de vida  
        p Un análisis de ciclo de vida es una recopilación y verificación de las entradas, las salidas y los impactos ambientales que puede generar un producto o servicio a lo largo de su vida. El entendimiento de cada una de sus etapas es crucial para tomar decisiones, ya que se pueden generar oportunidades de mejora que mitiguen o eliminen los impactos negativos sociales, ambientales y económicos que el bien o el servicio pueda generar.
        p Es importante considerar que el ciclo de vida de un producto o servicio puede considerar varias etapas entre las que encontramos:
        .jumbotron.bg-color-lila-grade
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='media/interactivos/02/index.html', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')     
        .row.justify-content-center.align-items-center.mt-5
            .col-10
                .jumbotron.caja1  
                    .row.justify-content-center.align-items-center   
                        .col-2
                            h1.subtitulo1 Video 
                        .col-8
                            p.subtitulo2 Video. Análisis del ciclo de vida de una botella plástica.
                            p Para complementar la información puede ver el siguiente video que explica el análisis del ciclo de vida de una botella plástica. 
                            a(href="https://www.youtube.com/watch?v=MyDHWRwvSzo", target="_blank")
                                h4 https://www.youtube.com/watch?v=MyDHWRwvSzo
                        .col-2  
                            img(src="assets/images/pages/ilustraciones/www.svg", alt="").img-icon         
        .sub-ecored#24
            h2.subtitulo2.mt-5 2.4 Las 9R de la Economía Circular
        p.mt-5 De acuerdo con el Ministerio de Ambiente y Desarrollo Sostenible (MADS, 2018), las bases de la economía circular se organizan en 9R: Repensar, Reutilizar, Reparar, Restaurar, Remanufacturar, Reducir, Re-proponer, Reciclar y Recuperar, lo que promueve el aprovechamiento de recursos y minimiza la producción de estos.
        p.mt-3 A continuación, se describen cada uno de estos conceptos. 
        .jumbotron.bg-color-azul-grade           
            a(href="media/infografias/infografia_Las_9R.pdf", target="_blank")
                img.img-a(src="assets/images/pages/ilustraciones/img26.svg", alt="").img-fluid 
        .sub-ecored#25
            h2.subtitulo2.mt-5 2.5 Logística en el marco de la economía circular 
        h2.subtitulo1.mt-3 Cadena de suministro o logística directa
        p.mt-3 Corresponde a todas las actividades y procesos asociados con el flujo y la transformación de productos desde la etapa de materias primas hasta el usuario final (Mora, L., & Martín, M., 2013).
        p La cadena de suministro está conformada por diferentes eslabones que son aquellos que lo componen como: proveedores, productores, distribuidores y vendedores, que dan lugar a diferentes interrelaciones compuestas por flujos de materiales, productos e información. 
        img.img-a(src="assets/images/pages/ilustraciones/img27.svg", alt="").img-fluid
        h2.subtitulo1.mt-3 Evolución de las cadenas de suministro
        p Con la evolución en las necesidades de los clientes y los patrones de producción y consumo, las cadenas de suministro han evolucionado con el fin de ser más competitivas y efectivas en el uso de recursos. Ejemplos de esto son:
            .list.ml-5
                .list__item
                    .list__item__number
                        img(src="assets/images/pages/ilustraciones/flecha.svg", alt="").img-icon 
                .list__txt 
                    span Innovación de producto.
            .list.ml-5
                .list__item
                    .list__item__number
                        img(src="assets/images/pages/ilustraciones/flecha.svg", alt="").img-icon 
                .list__txt 
                    span Servicio al cliente.
            .list.ml-5
                .list__item
                    .list__item__number
                        img(src="assets/images/pages/ilustraciones/flecha.svg", alt="").img-icon 
                .list__txt 
                    span Optimización de costos.
            .list.ml-5
                .list__item
                    .list__item__number
                        img(src="assets/images/pages/ilustraciones/flecha.svg", alt="").img-icon 
                .list__txt 
                    span Estudio y disminución de los impactos ambientales negativos.
            .list.ml-5
                .list__item
                    .list__item__number
                        img(src="assets/images/pages/ilustraciones/flecha.svg", alt="").img-icon 
                .list__txt 
                    span Generación de impacto social positivo.
        p.mt-3 Bajo esta perspectiva nace el concepto de logística inversa.
        h2.subtitulo1.mt-3 Logística inversa
        p El concepto de logística inversa fue acuñado por Luttwak en 1971, y señalaba el proceso de recuperar productos de sus clientes por medio del servicio de postventa (Maldonado Burgos & Torres Salazar, 2013). Esto permite a las empresas ser más eficientes ambientalmente al tener mayor control del flujo de materias primas y residuos en el ciclo de vida de los productos.
        .jumbotron.bg-color-amarillo-grade
            h2.subtitulo1 Objetivos y beneficios de la logística inversa
            .row.justify-content-center.align-items-center.mt-5
                .col-6
                    h2 Objetivos
                    .list.ml-5
                        .list__item
                            .list__item__number
                                img(src="assets/images/pages/ilustraciones/flecha.svg", alt="").img-icon 
                        .list__txt 
                            span Eficiencia ambiental por medio de: reciclaje, reutilización de los productos, reducción de materias primas empleadas en la producción (cerrar el ciclo de los materiales).
                    .list.ml-5
                        .list__item
                            .list__item__number
                                img(src="assets/images/pages/ilustraciones/flecha.svg", alt="").img-icon 
                        .list__txt 
                            span La recuperación económica de los productos fuera de uso por medio de la reparación, restauración, refabricación y reciclaje.                     
                .col-6 
                    h2 Beneficios
                    .list.ml-5
                        .list__item
                            .list__item__number
                                img(src="assets/images/pages/ilustraciones/flecha.svg", alt="").img-icon 
                        .list__txt 
                            span Disminución del impacto ambiental.
                    .list.ml-5
                        .list__item
                            .list__item__number
                                img(src="assets/images/pages/ilustraciones/flecha.svg", alt="").img-icon 
                        .list__txt 
                            span Mejora de la imagen de la compañía.
                    .list.ml-5
                        .list__item
                            .list__item__number
                                img(src="assets/images/pages/ilustraciones/flecha.svg", alt="").img-icon 
                        .list__txt 
                            span Reducción de pérdidas por devoluciones.                     
        h2.subtitulo1.mt-5 Logística integral o sistemas de ciclo cerrado
        p Es la relación del concepto de logística inversa con la función logística de la empresa según Bañegil Palacios et al. (2005) en (Maldonado Burgos & Torres Salazar, 2013) y que está representado con la siguiente figura: 
        h2.text-center Flujos en el sistema logístico de la empresa
        img.img-a(src="assets/images/pages/ilustraciones/img28.png", alt="").img-fluid
        p.text-center Fuente: Tomás Bañegil Palacios
        h2.subtitulo1.mt-5 Flujo inverso
        p En este sentido el flujo inverso tiene en cuenta el producto o servicio una vez finalizada la vida útil. En donde se busca tener mayor control sobre:
                .list.ml-5
                    .list__item
                        .list__item__number
                            img(src="assets/images/pages/ilustraciones/flecha.svg", alt="").img-icon 
                    .list__txt 
                        span Los costos de los residuos y su impacto sobre el ambiente.
                .list.ml-5
                    .list__item
                        .list__item__number
                            img(src="assets/images/pages/ilustraciones/flecha.svg", alt="").img-icon 
                    .list__txt 
                        span El diseño de productos y empaques para disminuir el impacto ambiental negativo del uso de materias primas y recursos.
                .list.ml-5
                    .list__item
                        .list__item__number
                            img(src="assets/images/pages/ilustraciones/flecha.svg", alt="").img-icon 
                    .list__txt 
                        span Optimización de procesos de producción.
                .list.ml-5
                    .list__item
                        .list__item__number
                            img(src="assets/images/pages/ilustraciones/flecha.svg", alt="").img-icon 
                    .list__txt 
                        span Optimización de los procesos de distribución y recolección.
                .list.ml-5
                    .list__item
                        .list__item__number
                            img(src="assets/images/pages/ilustraciones/flecha.svg", alt="").img-icon 
                    .list__txt 
                        span Opciones de reciclaje/recuperación y disposición final de los residuos.            
        h2.subtitulo1.mt-5 Etapas logística inversa 
        .row.justify-content-center.align-items-center.mt-5
            .col-8
                .quote__bar__hr
                .list.ml-5
                    .list__item
                        .list__item__number
                            span 1 
                    .list__txt 
                        span  Evaluación y diagnóstico de los componentes socio ambientales teniendo en cuenta lo siguiente:
                        ul
                            li
                                p Total de inventarios.
                            li
                                p Retornos de productos no identificados.
                            li
                                p Tiempos de procesamiento muy largos.
                            li
                                p Salidas no contabilizadas en los procesos productivos.   
                .quote__bar__hr                  
                .list.ml-5
                    .list__item
                        .list__item__number
                            span 2 
                    .list__txt 
                        span Clasificación de residuos:
                        ul
                            li
                                p Análisis de las cantidades.
                            li
                                p Peligrosidad.
                            li
                                p Almacenamiento temporal.
                            li
                                p Elementos para su control o tratamientos para aprovechamiento o disposición final.
                .quote__bar__hr                  
                .list.ml-5
                    .list__item
                        .list__item__number
                            span 3 
                    .list__txt 
                        span Transporte y almacenamiento:
                        ul
                            li
                                p Frecuencias de recolección.
                            li
                                p Horarios.
                            li
                                p Equipos.
                            li
                                p Personal.
                .quote__bar__hr                  
                .list.ml-5
                    .list__item
                        .list__item__number
                            span 4 
                    .list__txt 
                        span Colocación: envío de productos al destino elegido:
                        ul
                            li
                                p Retorno a través del vendedor.
                            li
                                p Venta.
                            li
                                p Donación.
                            li
                                p Reprocesamiento.
                .quote__bar__hr                  
                .list.ml-5
                    .list__item
                        .list__item__number
                            span 5 
                    .list__txt 
                        span Medición y control:
                        ul
                            li
                                p Costos.
                            li
                                p Eficacia y eficiencia de las medidas tomadas.
                            li
                                p Beneficios ambientales.
                            li
                                p Beneficios económicos.
            p.text-center Fuente: Adaptado de Mora, L., & Martín, M., (2013).
        h2.subtitulo1.mt-5 Actividades de la logística inversa por componente
        img.img-a(src="assets/images/pages/ilustraciones/img29.svg", alt="").img-fluid
        .row.justify-content-center.align-items-center.mt-5
            .col-11        
                h3 Empaques en la economía circular 
                p.mt-3 La Economía Circular apunta a la disminución del uso de empaques en la mayor proporción posible, por lo que muchas veces es necesario hacer rediseño de productos y empaques, con el fin de disminuir la cantidad de materiales a utilizar.
                p.mt-3 Adicionalmente se busca usar materiales orgánicos o ecológicos, reciclables o que tengan opción de recuperación o reuso para que puedan ser recirculados en la cadena de valor, como empaques o materia prima para el desarrollo de otros empaques o productos, para lo cual se aplica el concepto de las 9R.     
        h2.subtitulo1.mt-5 Resultados
        p.mt-3 La logística inversa busca en todo caso la disminución de los residuos generados, la extensión de la vida útil de los productos y empaques y la optimización del transporte y almacenamiento de productos y residuos.
        p.mt-3 Existen diferentes compañías especializadas que se dedican a realizar todas las operaciones logísticas de la cadena de suministro, junto con otros servicios complementarios y son llamados nodos logísticos. 
        p.mt-3 Adaptado de: Mora, L., & Martín, M., (2013).  
        h2.subtitulo1.mt-5 Aplicación 
        p.mt-3 La logística inversa está estrechamente relacionada con los programas post consumo. Por ejemplo, el Ministerio de Ambiente y Desarrollo Sostenible el cual involucra el concepto de Responsabilidad Extendida del Productor en el cual los fabricantes e importadores de productos son responsables de establecer canales para la devolución de estos productos como: plaguicidas, medicamentos vencidos, pilas, computadores, bombillas, llantas, entre otros (Ministerio de Ambiente y Desarrollo Sostenible., 2020).
        .row.justify-content-center.align-items-center.mt-5
            .col-10
                .jumbotron.caja1  
                    .row.justify-content-center.align-items-center   
                        .col-2
                            h1.subtitulo1 Sitio
                            h1.subtitulo1 Web  
                        .col-8
                            p Para más información consultar la página web del ministerio del medio ambiente, en su sección “Información general”. 
                            a(href="https://www.minambiente.gov.co/index.php/component/content/article/28-plantilla-asuntos-ambientales-y-sectorial-y-urbana", target="_blank")
                                h4 https://www.minambiente.gov.co/index.php/component/content/article/28-plantilla-asuntos-ambientales-y-sectorial-y-urbana
                        .col-2  
                            img(src="assets/images/pages/ilustraciones/www.svg", alt="").img-icon         
