.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Análisis de ciclo de vida:
            | es una metodología para evaluar cualitativa o cuantitativamente los impactos ambientales que generan los productos o servicios generados por las actividades económicas desde la extracción de materias primas, pasando por la transformación, hasta su disposición final.
        p
            strong.mr-2 Biomímesis (Biomimicry):
            |  Es una disciplina que estudia la naturaleza para imitar sus procesos y dar solución a problemas humanos.
        p
            strong.mr-2 Biota:
            |  es el conjunto de los organismos vivos, dicho término se designa al conjunto de especies de plantas, animales y otros organismos que ocupan un área determinada e interactúan entre si.
        p
            strong.mr-2 Capital natural:
            |  se refiere al inventario mundial de recursos naturales que incluye los suelos, el aire, el agua y todos los organismos vivos.
        p
            strong.mr-2 De la cuna a la cuna (Cradle to cradle):
            |  es un tipo de diseño que considera todos los materiales a ser usados en los procesos industriales y comerciales como insumo o nutriente de otros. Es decir, es un modelo económico en el cual los desechos son reutilizados en el mismo u otro proceso como materia prima, creando un ciclo con el fin de disminuir la cantidad de residuos generados.
        p
            strong.mr-2 Desarrollo Sostenible:
            |  es aquel que satisface las necesidades de la generación presente sin comprometer la capacidad de las generaciones futuras.
        p
            strong.mr-2 Diseño regenerativo:
            |  es un concepto basado en los sistemas y orientado por el diseño. La palabra regenerativo describe los procesos que restauran, renuevan y revitalizan sus propias fuentes de energía y materiales. En este sentido el diseño regenerativo busca crear sistemas resilientes y equitativos que aborden las necesidades de la sociedad con la Integridad de la naturaleza. 
        p
            strong.mr-2 Ecología industrial:
            |  es el estudio de los materiales y los flujos de energía en los sistemas industriales.
        p
            strong.mr-2 Economía azul:
            |  es la emulación de los ecosistemas naturales para ser eficientes en la producción de bienes y servicios que los ciudadanos necesitan para ser felices, con responsabilidad compartida y respeto para las generaciones futuras.
        p
            strong.mr-2 Economía circular:
            |   sistemas de producción y consumo que promuevan la eficiencia en el uso de materiales, agua y la energía, teniendo en cuenta la capacidad de recuperación de los ecosistemas, el uso circular de los flujos de materiales y la extensión de la vida útil a través de la implementación de la innovación tecnológica, alianzas y colaboraciones entre actores y el impulso de modelos de negocio que responden a los fundamentos del desarrollo sostenible. 
        p
            strong.mr-2 Economía de rendimiento (Performance economy):
            | Walter Stahel acuñó el término en 1976 bajo la visión de una economía en ciclos (economía circular) con un impacto sobre la creación de empleo y la competitividad económica.
        p
            strong.mr-2 Economía de Rosquilla:
            |   se trata de un modelo de pensamiento que tiene en cuenta nueve límites planetarios y el cumplimiento de las necesidades básicas de la sociedad, con el fin de fomentar un balance entre estos dos y direccionar el progreso de la humanidad.
        p
            strong.mr-2 Logística directa o cadena de suministro:
            |  corresponde a todas las actividades y procesos asociados con el flujo y la transformación de productos desde la etapa de materias primas hasta el usuario final.
        p
            strong.mr-2 Logística inversa:
            |  es el proceso de recuperar productos de sus clientes por medio del servicio de posventa. Esto permite a las empresas ser más eficientes ambientalmente al tener mayor control del flujo de materias primas y residuos en el ciclo de vida de los productos.
        p
            strong.mr-2 Producción más limpia:
            |  es una estrategia para la optimización de procesos operativos a través de buenas prácticas y tecnologías limpias. Su esencia reconoce los residuos, vertimientos y otros impactos ambientales negativos, como indicadores de ineficiencia de procesos y productos, y propone la prevención de los impactos a través de la optimización de procesos, el aprovechamiento de residuos y el rediseño de productos, enfatizando en la eficiencia de los procesos.
        p
            strong.mr-2 Reciclar:
            |  transformar materiales para incorporarlos a los procesos productivos como nuevas materias primas.
        p
            strong.mr-2 Recuperar:
            |  volver a poner en servicio un bien o un producto que sea considerado como inservible.
        p
            strong.mr-2 Reducir:
            |  disminuir el consumo de materia prima y de recursos para producir un bien o un producto.
        p
            strong.mr-2 Remanufactura:
            |  utilizar partes de un bien o un producto obsoleto en la manufactura para producir nuevos bienes.
        p
            strong.mr-2 Reparar:
            |   arreglar bienes o productos defectuosos para prolongar su vida útil.
        p
            strong.mr-2 Repensar:
            | diseñar o rediseñar el bien o el producto para producir menos residuos y aumentar su vida útil.
        p
            strong.mr-2 Re-proponer:
            |   utilizar un producto obsoleto o algunas de sus partes para crear productos con funciones diferentes.
        p
            strong.mr-2 Restaurar:
            |  actualizar un bien o un producto obsoleto para alargar su vida útil. 
        p
            strong.mr-2 Reutilizar:
            |  volver a usar el bien o el producto para el mismo fin u otro diferente.
        p
            strong.mr-2 Sistema:
            | es un arreglo de componentes físicos o un conjunto o colección de elementos conectados o relacionados de tal manera que forman o actúan como una unidad, como un todo. 
        p
            strong.mr-2 Sistema productivo:
            |  es aquel en el que se definen procedimientos, maquinaria y equipo, materiales y otros recursos como personal, bajo un sistema de gestión de administración de los recursos, para la transformación de una materia prima o información en un producto o servicio.                            