.container#page-introduccion
    .header-ecored
        h1 Introducción
    .jumbotron.bg-white 
      .row
        .col
          
          h2  ¡Bienvenidos!      
          p En esta unidad se abordarán los fundamentos teóricos de la economía circular, los cuales se relacionan desde los ciclos naturales en los ecosistemas, la transformación de la energía y su papel en los sistemas productivos. De igual manera se analizarán los modelos de pensamiento que dieron origen a conceptos como desarrollo sostenible y economía circular.</br></br>
            |#[strong A continuación, lo invitamos a ver el siguiente video, que permite conocer el curso. ]
      .row.mt-5
        .col
          .embed-responsive.embed-responsive-16by9          
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/dhkoPVO2ZvQ', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')