.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

            
                tr
                    td BIC., (2015). “2 minutos para entender el desarrollo sostenible – Spanish”
                    td Video 
                    td 
                        a(href="https://www.youtube.com/watch?v=I4wj61hScUQ", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar   
                tr
                    td Arnold, M. y Osorio, F., (1998). Introducción a los conceptos básicos de la teoría general de sistemas. Cinta moebio 3: 40-49
                    td Página web
                    td 
                        a(href="https://www.moebio.uchile.cl/03/frprinci.html", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr
                    td Economía de Rosquilla. (s.f.).
                    td Página web
                    td 
                        a(href="https://ideasimprescindibles.es/economia-rosquilla-adictos-crecimiento-economico/", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr
                    td Balboa, C. y Dominguez, M. (2014). Economía circular como marco para el ecodiseño: el modelo ECO-3. Informador Técnico (Colombia) Volumen 78, No. 1. Pág. 52-90.
                    td Artículo científico
                    td 
                        a(href="https://dialnet.unirioja.es/descarga/articulo/4881026.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr
                    td Mundo equilibrio., (2016). “Protocolo Cradel to Cradel: Modelos de pensamiento de economía circular”.
                    td Video 
                    td 
                        a(href="https://www.youtube.com/watch?v=vq3x08bDYUs", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr
                    td Terraplana TV,. (2010).Terra Plana Making of Pop video: “Modelos de pensamiento de economía circular”.
                    td Video 
                    td 
                        a(href="https://www.youtube.com/watch?v=7gAmMwj0VqM", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr
                    td Naciones Unidas., (2004). ¿Por qué adoptar un enfoque de ciclo de vida?.
                    td Documento
                    td 
                        a(href="https://sustainabledevelopment.un.org/content/documents/1731Why_take_a_life_cycle_approach_ES.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar