include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Balboa, C. H. y Somonte, M. D. (2014). Economía circular como marco para el ecodiseño: el modelo ECO-3. Informador técnico, 78(1), 82-90.")
        +referenciaItem("Biomimicry Institute. (2019). What is biomimicry?.", "https://biomimicry.org/what-is-biomimicry/")
        +referenciaItem("Circular.academy. (2016). Circular Schools of Thought: Performance Economy.", "http://www.circular.academy/circular-schools-of-thought-performance-economy/")
        +referenciaItem("Economipedia. (2014). Economía azul.", "https://economipedia.com/definiciones/economia-azul.html")
        +referenciaItem("Ellen MacArthur Foundation. (2014). Towards the Circular economy, Economic and business rationale for an accelerated transition.", "https://www.ellenmacarthurfoundation.org/assets/downloads/publications/Ellen-MacArthur-Foundation-Towards-the-Circular-Economy-vol.1.pdf")
        +referenciaItem("Ellen MacArthur Foundation. (2015). School of Thought.", " https://www.ellenmacarthurfoundation.org/circular-economy/concept/schools-of-thought")
        +referenciaItem("FORO de Economía Circular. (2017). ¿Qué es la economía circular?.", "https://foroeconomiacircular.com/chile2018/la-economia-circular/")
        +referenciaItem("Gobierno de la República de Colombia. (2019). Estrategia Nacional de Economía Circular. Cierre de ciclos de materiales, innovación tecnológica, colaboración y nuevos modelos de negocio.", "http://www.andi.com.co/Uploads/Estrategia%20Nacional%20de%20EconA%CC%83%C2%B3mia%20Circular-2019%20Final.pdf_637176135049017259.pdf")
        +referenciaItem("Hawken, P.; Lovins, A. y Lovins, L. (1999). Natural capitalism: creating the next industrial revolution. Little, Brown.")
        +referenciaItem("Lyle Center for Regenerative Studies. 2014. About Regeneration.", "http://env.cpp.edu/rs/about-regeneration")
        +referenciaItem("Malagón, R. y Prager, M. (2001). El enfoque de sistemas: una opción para el análisis de las unidades de producción agrícola.", "https://repository.agrosavia.co/handle/20.500.12324/12595")
        +referenciaItem("Maldonado, J. y Torres, M. (2013). Logística inversa, una herramienta para la toma de decisiones. Inventio, La Génesis de La Cultura Universitaria En Morelos, 19(18).")
        +referenciaItem("Ministerio de Ambiente y Desarrollo Sostenible. MADS. (2018). Colombia le apuesta a las 9R de la economía circular. Lanzamiento de la Estrategia Nacional de Economía Circular (ENEC).", "https://www.minambiente.gov.co/index.php/noticias/4225-colombia-le-apuesta-a-las-9r-en-economia-circular")
        +referenciaItem("Ministerio de Ambiente y Desarrollo Sostenible. (2020). Programa posconsumo de residuos.", "https://www.minambiente.gov.co/index.php/component/content/article/28-plantilla-asuntos-ambientales-y-sectorial-y-urbana")
        +referenciaItem("Mora, L., & Martín, M. (2013). Logística inversa y ambiental : Retos y oportunidades en las organizaciones modernas. Retrieved from", "https://ebookcentral-proquest-com.bdigital.sena.edu.co")
        +referenciaItem("PNUMA.  (2004). Programa de Naciones Unidas para el Medio Ambiente. ¿Por qué adoptar un enfoque de ciclo de vida? Organización de Naciones Unidas, Canadá.")
        +referenciaItem("Raworth, K. (2018). Economía rosquilla: 7 maneras de pensar la economía del siglo XXI. Ediciones Paidós.")
        +referenciaItem("TED Ideas worth Spreading. (2018). Una economía saludable debería ser diseñada para prosperar, no para crecer.", "https://www.ted.com/talks/kate_raworth_a_healthy_economy_should_be_designed_to_thrive_not_grow?language=es&fbclid=IwAR0X_Cuw4tFxFyobBE76CROotA4s6TwcAsWp2pj4lSdFMO_FSYeqNnloF_w#t-925050")
        +referenciaItem("UNEP. (2015). Transforming our world: the 2030 Agenda for Sustainable Development. C.", "https://sustainabledevelopment.un.org/post2015/transformingourworld")
        +referenciaItem("Universidad de Estudios Avanzados. (2019) Sistemas de Producción: ¿Qué son y cuáles son sus tipos?", "https://www.unea.edu.mx/blog/index.php/sistemas-de-produccion/.")
        +referenciaItem("van Hoof, B. (2013). Supply networks for cleaner production; framework for improvement of environmental performance of SMEs in emerging markets, doctoral thesis.")
        +referenciaItem("Van Hoof, B.; Gomez, H.;Duque, J.; Saer, A. (2015). Advanced Small and Medium Sized Enterprises, motors for development in Latin America, Bogota (H. Gomez, Ed.). Uniandes-ECLAC.")
        +referenciaItem("William McDonough. (2013). Cradle to Cradle.", "https://mcdonough.com/cradle-to-cradle/")
        +referenciaItem("World Commission on Environment and Development. (1987). Our common future. Oxford University Press.")



        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            