include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Aplicación de conceptos de economía circular en contextos productivos
        meta(meta name="description" content="Ruta de aprendizaje programa Aplicación de conceptos de economía circular en contextos productivos.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")

    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar.justify-content-center.justify-content-md-start
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Aplicación de conceptos de economía circular en contextos productivos
                                h1.curso-titulo Información del programa

                                .brand-line-primary

                                p.curso-descripcion
                                    ul.text-white 
                                        li 
                                            span #[strong Nombre del programa:] Aplicación de conceptos de economía circular en contextos productivos
                                        li 
                                            span #[strong Código:] 22230026 
                                        li 
                                            span #[strong Total Horas:] 48
                                        li 
                                            span #[strong Duración en semanas:] 4 semanas
                                        li 
                                            span #[strong Modalidad:] virtual
                                        li 
                                            span #[strong Requisito de ingreso:] conectividad de internet y manejo de plataformas virtuales.

                    

                            .col-12.col-lg-6
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/F5vWGNPywqw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')          


        section#Presentacion.section.section-dark

            .container

                h1  1. Presentación
                .brand-line-primary

                p.mt-5 El programa de formación complementaria virtual Aplicación de conceptos de economía circular en contextos productivos brinda una conceptualización y contextualización de conceptos y principios de la economía circular, sus líneas de acción y campos de aplicación, cuyo fin es, que las personas puedan proponer acciones de mejora específicas en el contexto productivo o social de su región. 

                p Teniendo en cuenta referentes internacionales y nacionales, se analizará los ciclos naturales y su relación con los sistemas y modelos económicos; los procesos productivos, el ciclo de vida de los  productos y de materiales con sus etapas y los procesos logísticos que contribuyen a la incorporación de elementos a los sistemas de producción y consumo, los flujos de materiales, agua y energía de acuerdo a  la capacidad de recuperación de los ecosistemas.

                p En respuesta a las necesidades del país surge este programa, como producto de la alianza entre el Ministerio de Ambiente y Desarrollo Sostenible (MADS), el Servicio Nacional de Aprendizaje (SENA) y la agencia de cooperación alemana GIZ, con la finalidad de impulsar la generación de iniciativas en  las diferentes líneas de acción contempladas en la Estrategia Nacional de Economía circular (ENEC).


        section#Justificacion.section.section-light

            .container

                h1  2. Justificación<br> del programa
                .brand-line-primary

                
                p.mt-5 La evolución de los patrones productivos y de consumo a través del tiempo ha contribuido al desarrollo de nuevos modelos de negocio y la aplicación de mejores prácticas. Hasta hace unos años predominó el modelo lineal de producción y consumo soportado en la extracción de los recursos, la producción de bienes, el uso de estos y su disposición final, sin embargo, estos patrones han cambiado en el tiempo de tal modo que se disminuye el impacto ambiental y se desarrollan mejores prácticas productivas que benefician no solo la economía sino la sociedad y el medio ambiente. 

                p En este orden de ideas, Colombia ha avanzado hacia la adopción de prácticas más sostenibles y amigables con el medio ambiente, a partir de la creación del Ministerio de Medio Ambiente y el establecimiento de los fundamentos de la política ambiental colombiana (Congreso de Colombia, 1993) y por medio de diferentes políticas como: la de Producción Más Limpia (Ministerio Del Medio Ambiente, 1997), seguido de la de Producción y Consumo Sostenible (Ministerio de Ambiente Vivienda y Desarrollo Territorial, 2011) y la de Crecimiento Verde (DNP, 2018b).
                
                p Como una aproximación para conocer el comportamiento de los sistemas productivos, la metodología de Análisis de Ciclo de Vida (ACV) ofrece una estructura que integra todos los impactos ambientales ocurridos a lo largo del ciclo de vida de las materias primas, productos y/o servicios y los relaciona con problemas ambientales específicos, lo que permite la interpretación del desempeño ambiental de las empresas (Suppen, N., & van Hoof, 2005), y es fundamento para el análisis del concepto de economía circular.

                p El Ellen MacArthur Foundation define la economía circular como un sistema industrial que es restaurativo o regenerativo por intención y diseño, que reemplaza el modelo de fin de vida (end of life en inglés) por un modelo circular que diseña los residuos con el objetivo de que estos no existan a partir de diferentes estrategias de producción y diseño (2014).

                p Por otro lado, la promulgación de los 17 Objetivos del Desarrollo Sostenible (ODS), como un acuerdo global sobre las prioridades del desarrollo económico, social y ambiental que dirigen a los diferentes actores públicos, privados y organizaciones del tercer sector (UNEP, 2015), establecen metas como: trabajo decente y crecimiento económico (ODS 8), industria innovación e infraestructura (ODS 9), ciudades y comunidades sostenibles (ODS 11), la producción y consumo sostenible (ODS 12) y la acción por el clima (ODS 13). Lo que promovió la definición de la estrategia para la implementación de los ODS en el país a través del CONPES 3918 (DNP, 2018a).

                p En este marco de referencia nacional e internacional, Colombia introduce la Estrategia Nacional de Economía Circular con el objetivo de establecer nuevos elementos para el fortalecimiento del modelo de desarrollo económico, ambiental y social del país, a partir de la lógica de producir conservando y conservar produciendo, a través de la identificación de líneas de acción prioritarias y establecimiento de modelos de negocio (Gobierno de la República de Colombia, 2019), siendo el primer país en América Latina en adoptar oficialmente una política hacia la economía circular. Lo que le permite al país definir mecanismos reales para una transición tecnológica, que permita la mejora de la productividad de bienes y servicios, aportando de manera positiva a la sociedad y el medio ambiente, en pro del cumplimiento de las metas establecidas en los ODS al 2030. 

                p Por esta razón el SENA junto con el Ministerio de Ambiente y Desarrollo Sostenible y la GIZ diseñan el curso “Aplicación de conceptos de economía circular en contextos productivos”, con el fin de guiar al aprendiz en la apropiación de los fundamentos teóricos y su aplicación por medio de la interpretación de los conceptos en un campo de acción propio y de interés en la persona que tome el curso.



        section#Poblacion.section.section-dark

            .container

                h1  3. Población <br>objetivo
                .brand-line-primary

                p Personas interesadas en aplicar la economía circular en su contexto productivo y social, pueden ser ciudadanos comunes, empresarios, emprendedores, profesionales de diferentes áreas o aprendices que deseen fortalecer sus conocimientos en el área ambiental.


        section#Estrategia.section.section-light

            .container

                h1 4. Estrategia <br>metodológica
                .brand-line-primary

                p Centrada en la construcción de autonomía para garantizar la calidad de la formación en el marco de la formación por competencias y el uso de técnicas didácticas activas que estimulan el pensamiento para la generación de ideas de aplicación de la economía circular; soportadas en la utilización de las tecnologías de la información y la comunicación, integradas, en ambientes virtuales de aprendizaje, permitiendo conocer algunas acciones adelantadas por el sector productivo y que vinculan al aprendiz a los avances que se vienen dando en el contexto de la economía circular; empleando estrategias como el debate, el estudio de casos y el Aprendizaje Basado en Problemas (ABP).

                p Igualmente, el curso estimula de manera permanente la autocrítica y la reflexión del aprendiz sobre el que hacer y los resultados de aprendizaje que logra a través de la vinculación activa de las cuatro fuentes de información para la construcción de conocimiento:


                .row.mt-4
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tutor.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El tutor - instructor
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/entorno.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Entorno
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tic.svg', style='width: 100px; height: 100px;')
                            h3.my-3 TIC
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg(style='height: 100%;')
                            img.img-fluid(src='assets/images/info/colaborativo.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Trabajo colaborativo

        +creditosFooter("assets/images/logos/senaLogo.svg")